In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'1.2.4'

In [8]:
"""
Pandas Object:Series
"""

ser=pd.Series([0.25,0.5,0.75,1.0])
print(ser)
print(type(ser),'\n')

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
<class 'pandas.core.series.Series'>

In [10]:
arr = ser.values
print(arr)

ind=ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [15]:
ser=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
print(ser)
ind=ser.index
print(ind)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [20]:
"""
Dictionary and Series
"""

dict = {'a':1, 'b' :'two', 'c':'True'}

In [22]:
"""
Create a series from a dict
"""

ser=pd.Series(dict)
print(ser)

print(ser['a':'b'])

a       1
b     two
c    True
dtype: object
a      1
b    two
dtype: object

In [29]:
"""
Pandas object:DataFrame
"""

a_dict={'Cal':423967,'abc':2314214,'Bal':5345623}
print(a_dict)

all_dict=pd.DataFrame({'dict':dict, 'a_dict':a_dict})
print(all_dict)

print(all_dict.index)
print(all_dict.columns,'\n')
print(all_dict['dict'])

{'Cal': 423967, 'abc': 2314214, 'Bal': 5345623}
     dict     a_dict
a       1        NaN
b     two        NaN
c    True        NaN
Cal   NaN   423967.0
abc   NaN  2314214.0
Bal   NaN  5345623.0
Index(['a', 'b', 'c', 'Cal', 'abc', 'Bal'], dtype='object')
Index(['dict', 'a_dict'], dtype='object')

a         1
b       two
c      True
Cal     NaN
abc     NaN
Bal     NaN
Name: dict, dtype: object

In [33]:
arr=np.random.rand(3,2)
print(arr,'\n')

pd.DataFrame(arr, columns=['foo','bar'],index=['a','b','c'])

[[0.24110509 0.68705232]
 [0.53543654 0.57107014]
 [0.59640914 0.73127565]]

        foo       bar
a  0.241105  0.687052
b  0.535437  0.571070
c  0.596409  0.731276

In [40]:
"""
Series object manipulation:dictionary-style
"""

ser=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])

print('a' in ser)
print(0.25 in ser) #키값만 확인가능

print(ser.keys())
print(ser.index)

True
False
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [48]:
"""
Series object manipulation: array-style
"""

ser['e']=1.25
ser['a']=0.125
print(ser,'\n')

print(ser['a':'c'],'\n')
print(ser[0:2])

a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

a    0.125
b    0.500
c    0.750
dtype: float64

a    0.125
b    0.500
dtype: float64

In [60]:
"""
Caution:Slicing Series object using explicit/implicit indexing
"""
population_dict = {'California': 38332521,
'Texas': 26448193,
"New York": 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)


area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

states = pd.DataFrame({'population': population, 'area': area})

print(states)
states['density'] = states['population'] / states['area']

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [63]:
states.loc[states.density > 100, ['population', 'density']]

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121